*~

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

gmock.pc
gmock_main.pc
abseil-*/
googletest-*/
gtest.pc
gtest_main.pc
unit_tests
bjmc
libbjmc_lib.a
